/* style.css */

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  max-width: 900px;
  margin: auto;
  padding: 20px;
  background: #738698; /* لون رصاصي فاتح للخلفية */
  color: #333;
}

nav a {
  margin: 0 10px;
  text-decoration: none;
  color: #000000;
  font-weight: 600;
}

nav a:hover {
  text-decoration: underline;
  color: #005fa3;
}

h1{
  color: #222;
}

footer {
  font-size: small;
  margin-top: 40px;
  color: #000000;
}

    header { text-align:center; margin-bottom:20px; }
    table { width:100%; border-collapse:collapse; margin-top:20px; }
    tr:hover { background: rgba(30,136,229,0.1); }
    th, td { border:1px solid #ccc; padding:8px; text-align:center; }
    th { background:#1e88e5; color:white; }
    code { background:#eee; display:block; margin:5px 0; padding:3px 6px; border-radius:4px; text-align:left; }
    .examples { background:#738698; padding:15px; border-radius:6px; box-shadow:0 2px 5px rgba(0,0,0,0.1); margin-top:20px; }
    h2 { color:#000000; }


code {
  background: #738699;      /* خلفية داكنة */
  color: #f8f8f2;           /* نص فاتح */
  display: block;
  margin: 10px 0;
  padding: 10px;
  border-radius: 6px;
  font-family: 'Courier New', monospace;
  font-size: 0.95em;
  overflow-x: auto;         /* يسمح بالتمرير الأفقي للكود الطويل */
}


